[2016-11-06 05:55] glittle opened #1 "https://talkify.net ?"
Thank you for this wonderful service!  I'm trying it out in a new site.

The voice is working fine but calls to the http://talkify.net API are failing because I'm using an https page. I've removed the `.withTextHighlighting` from the `player`, so it doesn't use `GetPositions`. I also have `.forceVoice(xx)` which correctly selects the voice to use. However, it still tries to use `Language` which fa

[2016-11-06 06:01] glittle commented on #1
In my local copy, I've adjusted `playFromBeginning` to not call to the Language api.  I'm fine for now.

[2016-11-06 06:03] glittle commented on #1
(Here's the page where it is working: https://wondrous-badi.herokuapp.com/verse)

[2016-11-07 12:16] Hagsten commented on #1
First things first,  I am glad that you find this to your liking!
Secondly, Im glad that you have a working sample even though you encountered some issues along the way.

Regarding https, it is a good point, I will definitly concider that. An alternate route could be that you tunnel the calls through your own backend and just return the response. I.e. do an http-call behind the scenes. This soluti

[2016-12-30 16:27] lyndachi opened #2 "Talkify Playlist seems to not read one word lines"

[2016-12-31 06:35] glittle opened #3 "Play simple text?"
The readme talks about `Play simple text` with `talkify.playText('Hello world');`.

However, there is no instruction on how to create `talkify`. Is it implicitly added to the `window` object?

[2017-01-01 00:44] Hagsten commented on #3
Hi, I have updated that section of the readme now. You need to instantiate (or use an existing) a player and then invoke the playText method on the player specifying a string.

var player = new TtsPlayer(); //or new Html5Player()
player.playText('Hello world');

Does that do the trick for you? :)

[2017-01-01 06:38] Hagsten commented on #2
Hi lyndachi!

Thanks for writing. Talkify has a requirement (hard coded), to limit number of "useless" lines. This requirement is that a "line" (or piece of text) needs to be 10 or more characters in length. This requirement is only enforced for elements that is not paragraphs and headings (p, h1-h6). This is due to the fact that divs are not semantical and we can therefore not "trust" the text co

[2017-01-10 07:44] #3 closed

[2017-01-10 07:44] #2 closed

[2017-01-11 14:19] lyndachi commented on #2
Thanks I'll try that!

On Tue, Jan 10, 2017 at 8:44 AM, Hagsten <notifications@github.com> wrote:

[2017-03-18 13:58] lim169 opened #4 "Put it on bower please :)"

[2017-03-26 23:45] lim169 opened #5 "promise is not defined"
Google Chrome 57.0.2987.110 (64-bit) Linux Ubuntu
jQuery JavaScript Library v3.2.1

My solution, which worked:

Change:
  var p = new promise.Promise();
To:
  var p = new $.Deferred();

And:
  return p:
To:
  return p.promise();

[2017-03-27 17:50] Hagsten commented on #5
Hi lim169!

Have you included the Promise lib? Promise is a dependency, see https://github.com/Hagsten/Talkify#dependencies. We are trying to phase out jQuery from Talkify since jQuery is a "heavyweight" lib and we are not using many of its features as of now. Do not be suprised if the jQuery dependency is removed in the near future, therefore the $.Deferred will not work in the long run and you w

[2017-04-03 16:12] KamilSocha91 commented on #5
Yes I tried to add promise.js, it not helped for me, maybe done something wrong.
So far part which I am using is running great after that little change.

I would say removing JQuery is a great move :+1:

[2017-04-25 21:37] Hagsten commented on #4
Fixed!

Try it out:
[code]

/Andreas

[2017-04-27 09:06] #4 closed

[2017-05-03 21:33] Hagsten commented on #5
@lim169 Promise.js is now a part of our distributables in the /dist folder or by installing the bower/npm packages. jQuery dependency is also removed as of version 1.1.0.

[2017-05-03 21:34] Hagsten commented on #1
@glittle as of version 1.1.0 you can turn off the use of remote services by using talkify.config.useRemoteServices = false. This will however limit you to use the Html5Player (i.e. the browsers built in SpeechSynth API) since the TtsPlayer needs to communicate with a remote host. Don't know if it will help you or not, but now you are aware of this config flag :).

[2017-05-08 21:21] #5 closed

[2017-06-17 18:20] inglesuniversal opened #6 "GREAT SCRIPT... 2 THUMBS UP!!! Q: How to auto scroll text and slow down speech a bit more"
This is my code based on your example provided...

[code]

QUESTIONS:

1.- How can I auto scroll the page the way you did it on your website which loads external URLs ?

2.- How can I reduce the speech rate much lower than the default value? or better yet... Have much lower adjustable speeds.

3.- I installed your NPM installation script on my server hosted on AWS, so if you think I can get some l

[2017-06-18 21:07] Hagsten commented on #6
Hi @inglesuniversal!

I'll answer question 1 and 3 today and will get back to you regarding Q #2 later :).

1. You can subscribe to the "onBeforeItemPlaying" event of the player
[code]

3. You could use the WebSpeech API for when the users are using Chrome (which has the best support), it will use the browser build in voices and thereforw won't go to our servers (text highlighting will be limited

[2017-06-19 20:34] Hagsten commented on #6
@inglesuniversal the audio control that we ship in this lib is limited to a rate between 1 and 3. I will look into making this more flexible as soon as I get some time off :).

However, you can set the rate on the player itself if you want, i.e. "player.setRate(int value)". The value can be between -10 and 10.

[2017-06-19 20:45] hugo commented on #6
@Hagsten you've tagged the wrong person :)

[2017-06-24 16:39] Hagsten commented on #6
Latest version now includes a better rate interval (-5 to 5). As mentioned, you can always set your own rate between -10 and 10 for the TtsPlayer and 0 to 10 for the Html5Player.

[2017-06-24 16:39] #6 closed

[2017-06-26 13:41] inglesuniversal opened #7 "Based on latest update please provide example code for RATE and get VOICE LIST"
Hello again, I noticed you made an update to your code explaining on your notes that you can now change the rate from -5 to +5 if I'm not mistaking, could you kindly explain how to adapt it based on the sample code you provided? and also, how can I get the list of voices, in order to be able to change them on the fly or can I have a selection dropdown menu to let the user choose their voice or acc

[2017-06-26 20:31] Hagsten commented on #7
@inglesuniversal

In that example, which is live at http://jsfiddle.net/woqw6b6g/48/, you can see that the rate slider is now between -5 and 5. Simply slide it back and forth to adjust the playback speed. If you do not want to use the audio controls you can still set the rate of the player by calling "player.setRate(int value);". The playback speed will be taken into effect for the next playback.

[2017-06-27 11:12] inglesuniversal opened #8 "ES voice is not being recognized as it plays."
Hi I tried this sentence in SP...

Buenos días, me gusta mucho esta interfaz.

and Talkify does not reproduce its TTS

[2017-06-27 16:09] Hagsten commented on #8
Hi.

Yes and no. That particular sentence will give you Spanish TTS if you play it using our demo at http://talkify.net/natural-sounding-voices-demo. However, since it is harder and harder to determine a language the smaller the input is, we have implemented a concept of a "reference language" which basically is the most common language on the current page. This language is selected for inputs tha

[2017-07-02 22:37] inglesuniversal commented on #8
hello, thanks so much for taking the time to answer my question... there are two voices that I used to get form sitepal.com and nuance.com (paulina and carlos) both in spanish... The one that your script plays as default has a heavy spanish (from spain) accent... Is it possible for you or for both of us to add additional voices without being so complicated... In our region since its Mexico, people

[2017-07-03 07:58] Hagsten commented on #8
I can probably add a Mexican accent (es-MX) using a voice called Hilda. I'll look into that!

[2017-07-05 16:03] Hagsten commented on #8
@inglesuniversal  there is now a es-MX voice to choose from. The sample rate is only 8000 (compared to 16 000 for the es-ES voice). Closing issue.

[2017-07-05 16:03] #8 closed

[2017-07-08 08:15] inglesuniversal commented on #1
Hi, I would like to VOTE in favor of an https:// connection since I open the target code inside a frame In the meantime I use target="_blank" so it opens an http:// connection. Hopefully I wish you can consider it in the coming weeks. cheapssl.com offers a 3 year ssl comodo certificate for 14 USD

[2017-08-18 09:53] JohnRSim opened #9 "[Enhancement] requireJS AMD support."
When using requireJS to load in talkify I get the following error promise undefined..
[code]
talkify.js:1095 Uncaught TypeError: Cannot read property 'Promise' of undefined

If I place talkify manually in the header it works fine.
Could you please add requireJS support..

Thanks
J.

[2017-08-18 11:21] JohnRSim opened #10 "[bug] onSentenceComplete not firing"
onSentenceComplete event doesn't appear to be triggered?
These get triggered fine in order -

onBeforeItemPlaying
onItemLoaded
onPlay
onPause

[code]

[2017-08-18 14:13] Hagsten commented on #10
It seems to be undocumented, but you will need to enable text hightlighting for onSentenceComplete to fire.  And a sense it is not when a sentence completes but rather when a block of text is complete.

So try to use
`var player = new talkify.TtsPlayer().enableTextHighlighting();`

See if that works. Then one can always discuss whether the event has a bad name or if we should be more intelligent t

[2017-09-20 14:48] hmatt1 commented on #1
I'd like to see https as well. You can get free SSL certs from https://letsencrypt.org/

[2017-09-20 14:56] Hagsten commented on #1
I will look into the SSL issue and I've been looking at letsencrypt. It will take some time for me to get to this issue due to other priorities, but I'll look at it asap. :)

[2017-09-21 13:12] Hagsten commented on #1
Alright, @hmatt1 and @inglesuniversal have a try now, we are now responding to https-traffic. Let me know if it works good for you so that I can close this :).

[2017-10-06 03:29] hmatt1 commented on #1
It works perfectly. Thank you!

[2017-10-09 11:37] #1 closed

[2017-10-10 05:24] inglesuniversal opened #11 "Voice Request"
Hello, I have used your script on and off for quite some time. I appreciate the time you take to answer my questions as well as support aimed for my educational needs.

Well, most of my ESL Students reside in Mexico, so I would like to request IF you can add a pair of very popular voices with Mexican accent (one is called CARLOS and the second one is called PAULINA) both male and female respective

[2017-11-17 20:39] yadickson opened #12 "update main file in packages.json"
Hello,

Please, Can you update the main field in the packages.json?

main: talkify.js -> dist/talkify.js

Best regards

[2017-11-17 22:23] Hagsten commented on #12
Done!

[2017-11-17 22:59] yadickson commented on #12
Thanks. You have a good day!

[2017-11-17 22:59] #12 closed

[2017-11-17 23:08] DiptiGupta opened #13 "How to show loader till items are loading for play"
In Angular 2, i am using talkify player for text to speech. I need to show loader on page until contents are ready for play. I  found a method i.e. onItemLoaded which fires just before loading of content.
But this method is not accessing correct value of component(angular 2)'s variable.

Please suggest some ways to achieve it.

[2017-11-17 23:28] Hagsten commented on #13
Hi, I am not familiar with the workings of Angular 2, but you would subscribe to the onItemLoaded event of the player using

``
player.subscribeTo(
{
    onItemLoaded: function () { console.log('onItemLoaded'); }
});
``

Hope it helps :)

[2017-11-18 06:00] DiptiGupta commented on #13
Hi Hagsten,

Thank you for your suggestion.

I am able to print or alert a hard coded string. But i want to access variable in onItemLoaded function which is defined outside.

I want to set true and false of variable so that loader can be visible till  loading of contents which will be played.

Can you please guide me to do this in javascript?
 I will do the same in Angular.

[2017-11-18 08:54] evilplanet opened #14 "How to make the progress bar clickable?"
Hello. I'm trying to achieve two functions:

One: Make the progress bar **clickable** so that it jumps to that position.

Two: Create a '**go back 5 seconds**' button that does what it sounds like :)

Is it possible to do this? Thank you!

[2017-11-18 15:01] yadickson opened #15 "Style tag in package.json"
Hello,

Please, can you add the style field in package.json?

I'm use the gulp-style-npm-files to find css files in node_modules projects.

Example:

  "main": "dist/talkify.js",
  **"style": "dist/styles/*.css",**
  "scripts": {
  ....

Best regards

[2017-11-19 00:13] technolingo opened #16 "How to download the mp3 file?"
This part of the documentation seems to be missing.

[2017-11-19 01:30] evilplanet opened #17 "How to disable pause between elements?"
Somehow in my use case, each word is encapsulated by a `span` tag, and if I select all the spans, Talkify will treat them like individual words as opposed to paragraphs. How do I disable the pause between elements? Thank you.

[2017-11-19 16:58] Hagsten commented on #14
I am working on this at the moment, the only issue is the speech marks that needs to be adjusted accordingly. I'll see if I can solve this properly.

[2017-11-19 16:58] Hagsten commented on #15
I'll have a look at this soon :)

[2017-11-19 21:42] #7 closed

[2017-11-19 22:04] Hagsten commented on #15
Done! :)

[2017-11-19 22:46] Hagsten commented on #14
Latest version, 2.1.2, now support clicking on the progress bar.

Regarding your "5 seconds back" feature - you can probably implement this yourself by leveraging the click-event of the progress-bar or seeked event on the audio tag (if you are not using our UI).

[2017-11-19 23:03] Hagsten commented on #16
Hi!
It's basically just a POST to https://talkify.net/api/speech/v1/download

See our docs @ https://manage.talkify.net/docs#api-reference-speech-download-as-file

Hope it helps :)

[2017-11-19 23:06] Hagsten commented on #17
I am not quite sure I understand, could you elaborate by providing code samples?

[2017-11-20 00:35] yadickson commented on #15
Thanks a lot!

[2017-11-20 00:35] #15 closed

[2017-11-20 00:41] technolingo commented on #17
[code]
Thank you for responding. In the above example, I want Talkify to treat this paragraph as `Hello world! I am using Talkify`, not `Hello` `world` `!` `I` `am` `using` `Talkify`. How could I achieve that?

Currently, I'm extracting the text of those spans and calling `player.playText()`, but then I cannot use the playlist features, such as display progress, make progress bar clickable, etc.

[2017-11-20 00:47] technolingo commented on #14
Could you tell me the code to change the current time? Is it the same as below?

[code]

[2017-11-20 00:49] technolingo commented on #14
Currently, if I use `player.playText()` to pass a string, the progress bar is not displayed properly and not clickable.

[2017-11-20 02:13] limmin5 opened #18 "I don't know how to use 'forceVoice' API"
Hello,

Like subject, I don't know how to use 'forceVoice' API.

Does anyone tell me?

Thanks in advance.

[2017-11-21 07:03] Hagsten commented on #18
Hello,

I've written a short fiddle for you, please have a look at https://jsfiddle.net/v9528q45/

Basically you call the forceVoice method of the player instance, providing an object with a name property. The name property should be assigned the name of the voice, for example 'David'. To get a list of available voices just call https://talkify.net/api/speech/v1/voices?key=[your api key]. Have a l

[2017-11-21 07:08] Hagsten commented on #17
Hi, according to this fiddle (https://jsfiddle.net/7Lxouoge/1/) it seems to treat your spans as a paragraph. Feel free to modify and re-post the fiddle if I am misunderstanding your issue :).

[2017-11-21 23:48] technolingo commented on #17
That's great solution! Though, if I use `.withRootSelector()`, I won't be able to tell Talkify which elements to narrate and which to ignore. Actually, my layout is more complicated than that; I'm sorry I didn't make it clear. For example:

[code]
How do you tell Talkify to say `Hello world`, not `Hello` `world`, not `Hello ignore me world ignore me` in this case?

[2017-11-22 00:16] technolingo commented on #17
It would be nice to be able to ignore certain elements.

[2017-11-22 07:12] Hagsten commented on #13
Hi,

See this fiddle for an example of a loader: https://jsfiddle.net/t1fj6aao/1/.

This is using jQuery but is accessing variables defined outside. I am only familiar with Angular 1.x and there you need to apply the scope or pushing a new digest cycle to the stack by using the timeout service with 0 ms ($timeout(function () { }, 0);).

https://talkify.net is an Angular 1 app and we are using the

[2017-11-22 13:58] Hagsten commented on #17
I see your point now. :)

First, Talkify has a set of HTML-elements that it automatically discards. Ruby-elements is a candidate for this set, I'll need to think this through. (see "forbiddenElementsString" in https://raw.githubusercontent.com/Hagsten/Talkify/master/src/talkify-textextractor.js)

Secondly, as you point out, I can add a method that enables exclusion of elements.

I might do both ac

[2017-11-23 15:51] Hagsten commented on #14
@evilplanet do you still have this issue? It works fine for me in thie fiddle: https://jsfiddle.net/cs3556zk/1/

Also, you are quite right, you can jump back using your solution, I've used it in this fiddle: https://jsfiddle.net/xt472g3w/1/

And here is an example when using text higlighting and the requested fetaure: https://jsfiddle.net/rvuyjzse/1/

[2017-11-29 01:47] technolingo commented on #14
Thank you. Solved.

[2017-11-29 01:47] #14 closed

[2017-11-29 01:48] technolingo commented on #17
Thank you. Solved.

[2017-11-29 01:48] #17 closed

[2017-11-29 01:50] evilplanet opened #19 "How to adjust playback speed while playing?"
As above, currently, you must request another audio in order to let the new playback rate take effect. How to allow users adjust playback speed while the audio is playing? (TtsPlayer)

[2017-11-29 01:53] technolingo opened #20 "Demo for force voice?"
How to force the TtsPlayer to use a designated voice? Could you give me a more detailed example? Thank you!

[2017-11-29 11:51] Hagsten commented on #20
Hi,

Have a look at this fiddle: https://jsfiddle.net/mknm62nx/1/

I hope it helps :)

[2017-11-29 11:53] Hagsten commented on #19
Hi,

The rate is a fixed value for the current audio stream. Thus we can not adjust the rate for the audio stream currently playing.

One solution could be to reload the stream and set its position to the same as before changing rate. But this is nothing we support out of the box at the moment.

[2017-11-29 23:49] technolingo commented on #19
Got it. Thanks.

[2017-11-29 23:49] #19 closed

[2017-11-30 00:11] technolingo commented on #20
Thanks. It's very helpful.

[2017-11-30 08:30] technolingo commented on #20
Will the order of this array ever change? Also, can I store and use the Name string without getting the array every time?

[2017-11-30 08:44] technolingo commented on #20
Somehow, if you use forcevoice, the progress bar disappears.

[2017-12-01 09:54] Hagsten commented on #20
The order of the array can change, but the name will not (see them as their IDs). You can hard code the voice names you are interested in using :)

[2017-12-01 09:55] Hagsten commented on #20
Regarding the progress bar. I've seen it as well, but it seems rather rare, right? I've yet to find the cause of this.

[2017-12-01 13:25] nisharaphael123 opened #21 "Issue with Talkify client side implementation."
Hello all,
We have implemented client side Talkify, in which there is a Play button on clicking the play button, all web voices are loaded using "voices = window.speechSynthesis.getVoices();". In the list of voices first three voices are the desktop voices and other are google remote voices. When we select any voice from top three, speech and highlight functionality are proper, but when we select

[2017-12-01 15:43] Hagsten commented on #21
Hi!

Lets summarize your questions a bit :)

1. There is no support for resume in the Web Speech player right now, but I'll add it to the list of low hanging fruits. The WebSpeech API seems to have support for resume (https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesis/resume) so I'll try to implement it in our player.

2. If text highlighting is enabled we will try to highlight for l

[2017-12-03 00:08] technolingo commented on #20
Yeah. Very strange.

[2018-01-24 02:12] technolingo opened #22 "Tts.Player() lower initial playback speed"
Is there a way to set the initial playback speed for `Tts.Player().playText()` to 0.5 or lower?

[2018-01-24 07:51] Hagsten commented on #22
The TtsPlayer should support a range between -5 and 5 (it seems that the documentation is old regarding this).

Doesn't this work (for example)?

`player.setRate(0).playText(); `

[2018-01-26 20:35] inglesuniversal opened #23 "Love your script... However, I want to make use of my own voices..."
Awesome script... I talked to you before congratulating you for this project... My request is very simple... How could I use this script under two different scenarios?

1.- Using my own voices (Amazon Polly)

2.- What if I want to make use of an audio file in mp3 ?

Thanks for your support.

[2018-01-27 17:52] Hagsten commented on #23
Hi!

Thank you :). If you want to use your own voices you can always configure talkify (talkify-config.js) to go to your own web server where you stream your own audio from. You will then need to handle the backend by yourself. Another choice is to only provide your own route for the speech endpoint - you will need to change where talkify-player.js calls the Talkify backend for an audio stream.

I

[2018-02-18 06:01] sidkasundra opened #24 "how can i get API for my webAPP"
I want to integrate in my angular 2 website.

[2018-02-18 20:29] Hagsten commented on #24
Hi!

You can find examples in our readme file if you are talking about our Javascript library. If you are talking about our speech api you will find documentation at https://manage.talkify.net/docs.

You will need an api key (from https://manage.talkify.net) for this library to work, unless targetting the browser integrated voices.

My answer is very generic so please specify your question for a m

[2018-02-20 09:28] #24 closed

[2018-03-09 00:47] stickywes opened #25 "iOS Mobile Safari and WebViews Don't Play All Texts"
It appears that the mobile Safari and WebViews on (some?) iOS devices do not provide a SpeechSynthesisEvent that is built in a way that is consistent with the way they are defined at MDN (https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisEvent)

Instead of a "utterance" property, iOS WebKit appears to put the utterance into CurrentTarget.
A minor adjustment to code as follows was eno

[2018-04-08 20:53] Timag opened #26 "German example sentence"
Great tool!

Just a small remark:
In your fiddle it is written:
"Hey, ich kann sehr hilfreich sein, wenn Sie versuchen, Deutsch zu lernen werden"

Correct German would be:
"Hey, ich kann sehr hilfreich sein, wenn Sie versuchen Deutsch zu lernen."

(I am born and raised in Germany).

[2018-06-10 14:03] brakdag opened #27 "require fails in nodejs ReferenceError: window is not defined"
[code]

[2018-06-11 07:14] Hagsten commented on #27
It seems wierd that we requrie "window" for Promise...but, generally, this library is built with a browser in mind, there is therefore no official support for node. There are several areas in the source code that explicily requires the window object:

- WebSpeech API (window.speechSynthesis)
- window.setTimeout/clearTimeout for speech marks

There are also serveral areas where there are direct DOM

[2018-06-17 07:37] ElModdy opened #28 "Service is down"
Hi, I think the service is down

[2018-06-17 07:58] Hagsten commented on #28
Yes, it was, it is back up again :)

[2018-06-17 07:58] #28 closed

[2018-07-07 17:44] fabiocaccamo opened #29 "What about Italian language support?"

[2018-07-09 02:19] debjyoti88 opened #30 "Get the current item in the playlist being played"
Hi Hagsten,

Thank you for the api. I'm using it for my research and have found it very useful so far. I wanted to ask you if there's any way to retrieve the current item in the playlist the talkify TTS is currently playing.

[2018-07-09 07:44] debjyoti88 commented on #30
Also, if I use the player.playText instead of the playlist, is there a way to retrieve the word/position in the text that is currently being read by the TTS ?

[2018-07-11 16:22] Hagsten commented on #29
There is an Italian voice "Lucia". Does that work for you? :)

[2018-07-11 16:33] Hagsten commented on #30
Hi,

You could find the current item by playlist.getQueue() and then fllter on isPlaying. You could also listen to the player event onBeforeItemPlaying which will pass the current item in the callback.

Hope it helps :)

[2018-07-11 21:02] fabiocaccamo commented on #29
I need male and female voices for this languages:
English, French, German, Spanish, Portuguese, Italian

[2018-07-12 02:02] debjyoti88 commented on #30
Great, thanks! However, I'm facing a problem with the playlist. The pause between consecutive items in the playlist is a bit too long for my requirement. I cannot happen to reduce that pause. The pause is significantly longer than playing with playText().

[2018-07-14 17:35] Hagsten commented on #29
Sorry, the voices we support are those available at https://talkify.net. Not all languages have male and female voices.

[2018-07-14 17:41] Hagsten commented on #30
There should not be any difference really. How long time are we talking? Is it a long pause in the audio stream itself or some client side delay?

[2018-07-15 13:36] fabiocaccamo commented on #29
Ok, thanks.

[2018-07-15 13:36] #29 closed

[2018-09-06 11:06] Omrize opened #31 "is the API still working?"
Hello, i tried using the API but it is not working for me.
the following error appears after the request :
"Server Error in '/' Application.
The resource cannot be found.
Description: HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled

[2018-09-06 20:23] Hagsten commented on #31
Hi, the URL is https://talkify.net/api/speech/v1. You can find all our endpoints at https://manage.talkify.net/docs :).

You can download our audio by, for example, pointing an anchor tag to our speech endpoint or by using a form element with a Post action to our download endpoint (see our docs).

Hope it helps!

[2018-09-07 12:50] #13 closed

[2018-09-11 22:30] kevingecsi opened #32 "onPause event does not fire with playText() when using Html5Player"
I am allowing the user to select sections of a paragraph instead of reading the whole block of copy.

The easiest solution was to use player.playText() instead of the playlist.play().
When using TtsPlayer, the 'onPause' event fires when finished, but Html5Player does not.

Strangely the 'onPlay' does fire for both player types. This only when using playText(). The events fire as normal when playin

[2018-09-14 19:43] austin-powell opened #33 "Image Alt Tags"
Is there a way to make talkify read the alt tags of images or fallback text of objects instead of just completely skipping over them? More like a screen reader does?

[2018-09-16 13:30] #31 closed

[2018-11-11 19:07] ivan-kleshnin opened #34 "forceLanguage on hosted player"
Hi! What is the reason of `forceLanguage` and `setVolume` being available only on Html5 player and not on the hosted one? The latter seems to provide much better voice experience but I really need this cut functionality :)

[2018-11-11 20:19] Hagsten commented on #34
Hi!

Regarding forceLanguage, you should use forceVoice instead for the hosted voice. There is no support for selecting a voice based on culture (like the html5 version does) in the Js/backend Api - you could do this yourself by calling the voice endpoint and select one based on the culture property. I agree that it would be better to streamline the Api between the types of voices, but for now you

[2018-12-05 20:51] sammdu opened #35 "Release backend code?"
Hi!

Love your project! I plan to use this in a recent project of mine, and this script will improve the workflow significantly.

However, I see your script is dependent on a back-end, but I don't see the code for the back-end server that I can use to host it myself.

Do you plan to release the source code for the back-end server so people can have it self-hosted? Or is it going to remain an API s

[2018-12-06 21:10] Hagsten commented on #35
Hi!

Thank you for your kind words :).

Our backend is not open source. We charge usage of our API for all except the users of talkify.net.

It is unlikly that we will release the source, but this project could in theory be used against backend such as Amazon, google or Microsoft.

[2018-12-06 21:10] #35 closed

[2018-12-06 21:11] #16 closed

[2018-12-06 21:13] #22 closed

[2018-12-06 21:14] #23 closed

[2018-12-06 22:21] Hagsten commented on #26
Thank you, i've adjusted the fiddle :).

[2018-12-06 22:21] #26 closed

[2018-12-06 22:22] #27 closed

[2018-12-06 22:23] #30 closed

[2018-12-06 22:27] Hagsten commented on #33
@austin-powell not at the momeny no. But it is a good idea.

[2019-03-28 21:48] Hagsten commented on #9
This issue should now be resolved

[2019-03-28 21:48] #9 closed

[2019-04-14 14:39] DianaMaftei opened #36 "Speed rate for download file"
Hi.

Can the speed rate be set when calling the api to download the audio file? I don't see anything in the documentation relating to that. I tried calling the api with "&rate=3", for example, but it's always the same speed.

Thanks.

[2019-05-17 13:46] Uup115 opened #37 "How to make this work?"
Hello,

So, I have my API-KEY.  Unfortunately, I have no success with getting it to work.

Using Google Chrome:
https://talkify.net/api/speech/v1?text=Hello world&key=MY_API_KEY

Returns:
HTTP ERROR 400

Please, what am I doing wrong?

Best Regards

[2019-05-17 14:14] Hagsten commented on #37
Hi, are you calling from a browser or from your backend?

You can also send me your details to contact@talkify.net so i can assist further.

[2019-05-18 06:04] Hagsten commented on #37
This issue was resolved in a new release of the Talkify API.

[2019-05-18 06:04] #37 closed

[2019-05-21 14:22] Uup115 opened #38 "isPlaying with TtsPlayer()"
Hello again...

Really enjoying the API.  Very useful it is.  Thanks!

I'm attempting to use the "isPlaying" method like this:

player.playText('Finding your location.  This can take a couple of minutes.');
while (player.isPlaying()) {
      do something...
}

Code inside the while loop never executes.  Am I not using the method properly?

Best Regards

[2019-05-21 18:34] Hagsten commented on #38
Hi!

The metod playText is async - it will complete before the audio is loaded. Hence when you hit the following while loop the player has not yet started playing so it will skip it.

We have an event model that allows you to know when audio is loaded/playing/etc. We also have a new event model not yet documented, i will give an example when i get the time.

Hope it helps :)

[2019-05-22 13:23] Uup115 commented on #38
Hello,

Per your suggestion...  The event, "onPlay", successfully fires at the start of audio playback and does something inside the while loop.

**player.subscribeTo({
  onPlay: function(){
    while (player.isPlaying()) {
      do something...
    }
    do something else...
  }
});**

However, when the audio playback finishes, something else never happens.  It seems to be forever inside the whil

[2019-05-22 14:21] Hagsten commented on #38
Hey,

I would actually not recommend that you use the isPlaying method in the way you are. What are you planning to do inside that while loop? That loop will iterate quite alot :).

IsPlaying is intended to be called when you want to get the current status rather than polling it. I would instead recommend you to use our events and stop using while loops. It is hard to help without knowing what you

[2019-05-22 16:40] Uup115 commented on #38
Hello,

Both "onPause" and "messageBus" work nicely.  Thanks for the insight.

My thought was to poll "isPlaying" every 300 msec or so, using setTimeout() inside the while loop.  I didn't realize the "onPause" event also fires when audio playback finishes.  Thanks for the clarification.

Best Regards

[2019-05-22 18:27] Hagsten commented on #38
No worries! Glad I can help.

I will make sure to update the docs regarding the messagebus/subscribe pattern.

[2019-05-22 18:27] #38 closed

[2019-09-24 12:43] BobStein opened #40 "Don't chain the `.play()` method."
One of the drawbacks to fluent API is you can get confused about return values. This confusion shows up in the very first "working fiddle" at http://jsfiddle.net/98gdLvph/

It has this misleading code:

    var playlist = new talkify.playlist()
      .begin()
      .usingPlayer(player)
      .withRootSelector('#root')
      .withTextInteraction()
      .build()
      .play();

This assigns undefin

[2019-09-24 13:29] Hagsten commented on #40
Hi, thank you for your input.

It is unfortunate that the examples are misleading. In the readme file there is stated that "build" returns the instance and it is only for simplicity that play() is chained.

I might adjust the examples when I get the time :)

[2019-10-27 18:03] Hagsten commented on #40
I've changed all the examples, hopefully it will be more clear now. Closing issue.

[2019-10-27 18:03] #40 closed

[2019-10-27 18:04] #34 closed

[2019-10-27 18:05] #20 closed

[2020-02-16 15:12] zmechu opened #41 "Service Unavailable"
https://manage.talkify.net/:

Service Unavailable

HTTP Error 503. The service is unavailable.

[2020-02-16 15:39] Hagsten commented on #41
Thanks for reporting. It is now online again.

[2020-02-16 15:39] #41 closed

[2020-04-20 08:58] Fourty5Dev opened #42 "Issue capturing credit card details on website"
Good day,

I'm having trouble adding my Credit Card details to your site (under "Pay for what you use"). It keeps telling me that an error has occurred. I used the same card to purchase Credits (different payment page) without any issues but this is only a short-term solution as we need to subscribe to a monthly package.

I tried sending an email but it keeps getting returned.

Regards,
Tean

[2020-04-20 11:02] Hagsten commented on #42
Hi,

Can you write to contact@talkify.net since this has nothing to do with this library? I will take care of your issue once your email arrives.

[2020-04-20 15:36] Fourty5Dev commented on #42
Hi,

I tried but my messages keep getting sent back.

[image: image.png]

On Mon, Apr 20, 2020 at 1:03 PM Hagsten <notifications@github.com> wrote:

[2020-04-20 15:42] Hagsten commented on #42
Alright, give me an email address where I can reach you :)

[2020-04-20 19:13] Fourty5Dev commented on #42
Hi,

Thank you so much. You can reach me at teangouws@gmail.com

Regards,
Tean

On Mon, Apr 20, 2020 at 5:42 PM Hagsten <notifications@github.com> wrote:

[2020-06-14 03:48] cainbyrne opened #43 "Some security findings"
Hi Team,

Don’t you just hate it when someone includes your open source project, only to run some scanning tools and come back with issues?  Yea we do too.

So we’ve been running lots of security scans on open source projects, including yours, through some automation we built.  Don’t worry, it took less than a few minutes to run the scans and auto-generate the report.

Wasn’t sure how to send it t

[2020-06-27 11:11] PikeAngler opened #44 "JSFiddle example error"
http://jsfiddle.net/xnufhv8L/
Console: "Script error."

[2020-06-27 12:33] PikeAngler opened #45 "forceVoice()"
Documentation states the parameter should be a JSON object with name property from /api/speech/v1/voices.
But what is the actual format of the JSON object to pass to the function?
Is it {name: "/api/speech/v1/voices/Naja (Danish da-DK)"}?
and should my api-key be included as property also?

I intend to play sound directly from a button event with text I supply (max 10 words) - no reading from a pa

[2020-06-27 14:40] Hagsten commented on #45
Hi,

I'm on my phone now so I will answer briefly, hopefully it helps - if not I will give a more detailed answer later.

Parameter to forceVoice should be {name :'Naja'}.

The key should ONLY be included in the configuration. No where else in the API. Not in the init of the player that is.

The warnings about subscribers are not errors, some events does not have any listeners in some cases. You c

[2020-06-29 12:47] PikeAngler commented on #45
Hi, thank you for your prompt response. It is really helpful.
I realize that there are only premium Danish voices, and it works fine
with the Swedish voice.
The pay per use for a premium voice is probably a good solution for me.
By the way:
I don't need an ui, just a consistent Danish voice across browsers and
platforms to activate from a button click in my app.
Is there a way to avoid the js over

[2020-06-29 13:12] Hagsten commented on #45
Hi,

Glad it helped! Sorry, there is no JS-package that excludes our controlcenter (the UI). So the overhead of the filesize can not be removed (unless you construct such a package yourself from our source files) but an instance of the controlcenter wont be created (icons will not be loaded).

You can of course exclude our css-files, but the js-file will be included...

You can always opt out from

[2020-07-15 08:23] Hagsten commented on #44
Fixed :)

[2020-07-15 08:23] #44 closed

[2020-07-15 08:24] #45 closed

[2020-07-15 08:24] #42 closed

[2020-12-03 09:16] BigGitWorld opened #51 "How to use Locally (from my own server)?"
Hi.
Thank you for this nice library.
I'm going to use the Talkify for a SPA, where I have a large number of notifications that want play their text.
So, How can I integrate the Talkify in my own server without needing to call talkify services?
Best regards

[2021-01-02 18:48] Hagsten commented on #51
Hi,

You would need to implement the API-endpoints expected from the lib:

The APIs required:
speechBaseUrl: '/api/speech/v2'
languageBaseUrl: '/api/language/v1'

For Speech you would need to implement an endpoint serving audio streams and one endpoint for speech marks (if needed). Language is not really needed and you could fork this repo and remove calls to it.

You have our API docs at https://

[2021-01-02 18:48] #51 closed

[2021-01-02 20:34] #11 closed

[2021-01-02 21:00] #21 closed

[2021-01-02 21:26] #10 closed

[2021-02-10 00:12] rkrejcii opened #54 "Use with Vue"
Hello,

I would like to use Talkify with Vue.

I installed Talkify using

[code]

but then, when I use in my Vue single file component (https://vuejs.org/v2/guide/single-file-components.html) this import command:

[code]

`talkify` is only an empty object, so things like:

[code]

are obviously not working. What I'm doing wrong please?

Thank you for any help.

[2021-02-10 10:18] Hagsten commented on #54
Hi,

I am not familiar with Vue, but from our old React repo (https://github.com/Hagsten/TalkifyReactJs/blob/master/src/lib/talkify.js) we use

import 'talkify-tts';

Talkify attaches itself to the global scope. Perhaps this helps.

[2021-02-10 16:42] rkrejcii commented on #54
Thank you very much for your quick reply.

`window.talkify` works, but I'm facing other problems now.

First, I tried (inside my Vue component) this code:

[code]

It failed with following error:

[code]

The problem was in this one snippet (from `talkify.js`):

[code]

After following modification (one `promise` removal), so:

[code]

the code works and "Hello world" was spoken using the voice se

[2021-02-10 19:44] Hagsten commented on #54
Hi,

I'm on my phone now so my answer will be brief and might not be accurate.

I see that you are using the local HTML player. In that case you should specify which voice or culture to use. You can use either forceVoice or forceLanguage on your HTML player instance.

Regarding the promise it seems odd to use the repetitive version. I can confess that the HTML player has been a second class citize

[2021-02-11 19:49] rjcortese opened #55 "Play simple text in iOS Safari"
Hello!
This is just a question about how the lib works on iOS Safari...

I am developing a web based car navigation / routing app and have added turn by turn instructions.
It currently uses the regular Web Speech API that Talkify seems to use underneath (at least for HTML5 player). However, this implementation does not work when the app runs on iOS Safari (afaik because of autoplay issues).

Do yo

[2021-02-11 21:39] Hagsten commented on #55
Hi,

We have not implemented any means to bypass the autoplay limitation. I think autoplay limitation affects all sorts of media and not only the SpeechSynthesis. I have myself added Talkify (with our remote server) on an old iPad running Safari in my Home automation and have bypassed autoplay using a welcome button that the user needs to click on in order to proceed. On that version of Safari tha

[2021-02-11 21:47] rjcortese commented on #55
Thank you for the quick response! I'll try your suggestion!

[2021-02-11 21:47] #55 closed

[2021-07-07 10:03] mykhie opened #57 "Slowing down the talking speed"
How do I slow down the reading/speaking speed?

[2021-07-07 14:22] Hagsten commented on #57
https://github.com/Hagsten/Talkify#talkify-hosted-only

Method setRate on the player instance.

[2021-07-10 17:14] #57 closed

[2021-08-31 12:23] danielignatius opened #58 "how to properly pause or stop reading after completed reading a block of test?"
This is a great script. But the playlist.pause(); or the player.pause(); is not firing after the onPause fn is fired. I cant seem to stop or pause from reading the next block of text. Any advice is appreciated.
---
var player = new talkify.TtsPlayer()
        .enableTextHighlighting()
        .subscribeTo({
            onSentenceComplete: function () { console.log("onSentenceComplete :)") },

[2021-08-31 16:39] Hagsten commented on #58
Hi @danielignatius , the **onPause** function is a callback that is invoked when the player pauses. It is typically invoked _after_ a call to **player.pause()**

To pause playback, you can either call the players pause method or the playlists pause method.

[2021-08-31 22:49] danielignatius commented on #58
Hi @Hagsten , thank you for the advice. I had a put a playlist.pause(); or the player.pause(); on the **onPause** function because it was pausing before reading the next block of text. In this case, can you share with me how to stop the web reader from reading text 2 after reading text 1. See screenshot. Is there an event I can use to catch and pause the playlist or player?

Thanks @Hagsten

<img

[2021-09-01 07:32] Hagsten commented on #58
What is the purpose of pausing in the middle of the playlist?

I would say that you just include whichever paragraphs you need in the playlist by using withElements (https://github.com/Hagsten/Talkify#playlist-fluent-builder) to narrow down your scope. The playlist will always play all its paragraphs until it has played the last. Or keeping your own playlist and just using the player instance whic

[2021-09-01 12:53] danielignatius commented on #58
@Hagsten Thanks for sharing your insight on how the playlist actually works.

I actually have two sections that I want the text to be read out for my audience. One section on the top (A) and the other section at the other side of the page (B). I don't want B to be read out immediately after A has been read out. Is there a way to gracefully stop B from reading out immediately after A has been read

[2021-12-12 23:09] sheethal-santhosh opened #59 "Reading floating point numbers"
Hello,
I have noticed an issue with talkify while reading floating point numbers. The digits after the decimal is auto appended multiple times after the existing numbers.

For e.g, while reading 1.23 kilograms, it will become 1.232323 kilograms. However, it is reading the 1.23 kilograms correctly.
@Hagsten Could you please suggest any solutions for this? Thanks

http://jsfiddle.net/2a5j3e19/4/

<i

[2021-12-12 23:26] sheethal-santhosh opened #60 "How to preserve the layout while reading?"
Hi,

@Hagsten Could you please suggest a workaround to preserve the layout while reading?

For e.g, while reading a poem as in the fiddle below, I would prefer not to change the layout. Thanks in advance.

http://jsfiddle.net/e7qvkbwj/25/

[2021-12-15 05:05] sheethal-santhosh commented on #59
@Hagsten Furthermore, I noticed reading email addresses also has this problem.
For e.g, while reading msanders@frsts.net.au will append au at the end.
<img width="302" alt="Screen Shot 2021-12-15 at 4 03 53 pm" src="https://user-images.githubusercontent.com/8149506/146126640-98765e52-02bf-45f5-a3f6-cffcdfc64c99.png">

[2021-12-15 15:34] Hagsten commented on #60
I would suggest avoiding br tags and use paragraphs instead, that should do the trick :)

[2022-01-31 05:41] sheethal-santhosh commented on #59
@Hagsten do we have any updates on this?

[2022-03-30 08:04] #60 closed

[2022-03-30 08:11] Hagsten commented on #59
@sheethal-santhosh sorry for the late response. It is due to the naive way we are identifying sentences, which uses among others "." character. Let me investigate and see if I can make is more intelligent.

I might also add that the problem only occurs when one is missing a character that ends a sentence (., ?, !, etc). It would work if you would have "1.23 kilograms." But I think we should be abl

[2022-03-31 03:05] sheethal-santhosh commented on #59
@Hagsten Thanks for replying. Unfortunately not every time such words or text occurs at the end of the sentence. We would greatly appreciate if you could look into it and let us know if there is any immediate fix to this as our customers are highlighting this issue to us.

[2022-03-31 07:53] Hagsten commented on #59
@sheethal-santhosh if you could do some testing on https://github.com/Hagsten/Talkify/tree/hotfix/wordHighlightOnDecimalNumbers/dist I would appreciate it. I'm confident in that it works, so confident that its being tested at our main site (talkify.net) as well.

[2022-04-01 04:11] sheethal-santhosh commented on #59
@Hagsten Yes, that works! Thanks a lot for your help.

[2022-04-01 04:11] #59 closed

[2022-04-03 17:30] Hagsten commented on #54
The promise issue should have been resolved in v3.9.0. Please reopen if this is still an issue. Closing for now.

[2022-04-03 17:30] #54 closed

[2022-04-06 10:46] DonGallage opened #62 "How to import talkify in React Typescript"
I'm working on react nextjs project with Typescript, i'm trying to import talkify library to a component. But i'm getting an error saying "Cannot find module 'talkify-tts' or its corresponding type declarations." .
My package.json shows that I have installed the package and the package is in the node modules folder therefore it is not a issue with installing.

i'm using  version 3.9.1
Below is my

[2022-04-06 16:37] Hagsten commented on #62
Talkify registers itself in the global scope, ie window. There is nothing exported from talkify-tts. But once imported you can use window.talkify...just add window before talkify in your code and you should be good to go 🙂

[2022-04-07 04:25] DonGallage commented on #62
Also I used the following api to get audio for a text

`https://talkify.net/api/speech/v1?text=Hello world&rate=3&format=mp3&voice=Microsoft Hazel Desktop&fallbackLanguage=English`

Can I know how do I play response audio I get from talkify api call inside a `<audio src='''></audio>` tag,   The data type I get as an response is unfamiliar and please clarify the process to get the following respons

[2022-04-07 05:33] DonGallage commented on #62
As you instructed above I used window.talkify but still I get this error message,

`Property 'talkify' does not exist on type 'Window & typeof globalThis'.`

Please provide me a a feedback on the following improved code as I am in a tight schedule.

[code]

[2022-04-07 06:04] Hagsten commented on #62
I'm on vacation so I'll try to help you in the way I can.

A quick Google shows

"To solve the error, extend the Window interface in a . d. ts file adding the property you intend to access on the window object"

You don't have a definition in the window type definition file for talkify. So either make it any or add the outer type as any.

On a side note, when trying the code snippet later you shou

[2022-04-07 06:56] Hagsten commented on #62
Regarding the audio tag. You specify the API URL as the src value. The response is streamable audio.

[2022-04-07 07:43] DonGallage commented on #62
Thank you so much for the support,
I'm sorry I used your api-key before that's because it was publicly available. I couldn't share mine then it would be visible to everyone.

[2022-04-07 07:43] #62 closed

[2022-04-28 07:23] sheethal-santhosh opened #63 "Words in Uppercase are spelled out as letters."
@Hagsten We have implemented talkify with the voices Amy and Nicole. We have some passages with pronunciation of words emphasised in brackets. Currently, those uppercase words are spelled out instead of reading it as a word. I noticed that when using some other voices like Zira, it is reading the uppercase words properly.

I have provided an instance from one of our passages below for your referen

[2022-04-28 18:05] Hagsten commented on #63
Interesting! I can see similar issues online when ppl are using the underlying providers directly.... the issue is most likely at Aws Polly in this case. It can probably be solved with ssml (say as tag) but there are no way to add that to specifc text using this library atm.. I will have a look and see if I can provide functionality to pass this kind of ssml for configured elements. If so, that co

[2022-04-28 23:30] sheethal-santhosh commented on #63
@Hagsten Thank you for your prompt response. We would appreciate you looking in to this as our audience are young children who are depending on this to learn to read.

[2022-05-04 01:15] sheethal-santhosh commented on #63
@Hagsten Just wondering whether you got any solution to this?

[2022-05-05 14:57] Hagsten commented on #63
Not yet, I've been looking at a few approaches. I'll let you know :)

[2022-05-07 17:07] Hagsten commented on #63
Update: I have a possible solution for this. Hope to have something for you during next week.

[2022-05-08 17:47] Hagsten commented on #63
@sheethal-santhosh could you perhaps see if the new feature in this bransh works for your case? https://github.com/Hagsten/Talkify/tree/feature/read-as-lowercase-setting/dist

See new declarative setting "data-talkify-read-as-lowercase" https://github.com/Hagsten/Talkify/tree/feature/read-as-lowercase-setting#declarative-settings

**An example**
`The lute (<span data-talkify-read-as-lowercase="tru

[2022-05-09 04:28] sheethal-santhosh commented on #63
@Hagsten Thanks a lot. It is working!

[2022-05-09 04:28] #63 closed

[2022-06-23 15:56] gazpachu opened #65 "How to load the response data into an HTML5 audio tag"
Hi,

Thanks for your work. I couldn't find in the documentation how to handle the response data from the POST to the API endpoint.

It seems to be returning binary data (rather than an mp3 URL), so I was wondering how should we pass this audio data to the HTML5 audio tag.

Many thanks

<img width="601" alt="Screenshot 2022-06-24 at 0 54 38" src="https://user-images.githubusercontent.com/1721288/17

[2022-06-23 18:27] Hagsten commented on #65
Hi, you cannot, afaik, use POST endpoints with the HTML audio tag. If you are going to use the audio tag then you are stuck with the GET-endpoint which has some limitations regarding length.

[2022-06-23 23:30] #65 closed

[2022-08-21 13:20] baras opened #66 "talkify.min.js is empty"
talkify.min.js in `dist' is an empty file.
npm install also results in an empty file.

[2022-08-21 13:20] baras commented on #66
Demos are also offline for this reason.

[2022-08-21 17:58] Hagsten commented on #66
@baras thank you :).

v3.9.3 have a better minified version ;).

/Andreas

[2022-08-21 17:58] #66 closed

[2022-11-17 03:19] YiYinYinguu opened #67 "How can I get the specific time of each word ?"
I need to use the generated audio to create videos. Therefore, I want to know the time start and time end of each word.
I would appreciate a reply.

[2022-11-17 13:41] Hagsten commented on #67
You can extract speech marks via https://talkify.net/api/speech/v1/marks endpoint as described at https://manage.talkify.net/docs#api-reference-speech-speech-marks

Example response:

`[{"Word":"Proofread","Position":100,"CharPosition":0,"CharPositionOffset":0},{"Word":"your","Position":565,"CharPosition":10,"CharPositionOffset":0}]`

Where position is _"The starting position (in ms) in the audio

[2022-11-27 11:59] slikts commented on #62
It shouldn't be exporting to global scope.